.title {
    display: flex;
    flex-direction: row;
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background-color: #EF483E;
        border-radius: 100%;
        span {
            margin-top: 20%;
        }
    }
    h3 {
        margin-left: 8px;
        position: relative;
        font-size: calc(100% + 0.5vw) 
    }
}

.text {
    font-size: 13px;
}